# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.pypirc
# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
.venv/

# IDE specific files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db